@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: rgb(174, 245, 174);
}

.sunsigns {
  padding-top: 3rem;
  padding-bottom: 2rem;
  overflow-wrap: break-word;
}

h1 {
  font-family: "Acme", sans-serif;
  color: red;
  padding-bottom: 2rem;
}

input {
  margin-top: 1rem;
  background-color: azure;
  width: 15%;
}

h2 {
  font-family: "Pacifico", cursive;
  color: blue;
  font-weight: 80%;
}
